<h3>Покупка товаров</h3>

<!-- <div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
  <span>{{ shipping.name }} </span>
  <span>{{ shipping.price }}</span>
</div> -->
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Имя пользователя" aria-label="Имя пользователя">
  <input type="text" class="form-control" placeholder="Номер телефона" aria-label="Номер телефона">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Обработка персональных данных">
    </div>
  </div>
  <p> Обработка персональных данных</p>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Переход далее">
    </div>
  </div>
  <p> Переход далее</p>
</div>