<div class="container">
  <h1>Магазин</h1>
</div>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Товар</th>
      <th scope="col">Цена</th>
      <th scope="col">Цвет</th>
      <th scope="col">Формат</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor='let product of products'>
    <tr>
      <th scope="row">{{product?.id}}</th>
      <td>{{product?.name}}</td>
      <td>{{product?.price}}</td>
      <td>{{product?.attr.color}}</td>
      <td>{{product?.attr.format}}</td>
      <td><button class="btn btn-primary" (click)="addToCart(product)">Добавить</button></td>
    </tr>
  </tbody>
</table>
</div>